global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# ───────────────────────────────────────
# Kubernetes API server
# ───────────────────────────────────────

frontend k8s-api
    bind *:6443
    default_backend k8s-control-planes

backend k8s-control-planes
    balance     roundrobin
    option      tcp-check
    server      control-plane-01 control-plane-01.k8s.local:6443 check
    server      control-plane-02 control-plane-02.k8s.local:6443 check
    server      control-plane-03 control-plane-03.k8s.local:6443 check
